<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me!</title>
</head>
<body>
<!-- My personal introduction -->
<h1>Here is a bit about myself.</h1>
<p>I am a senior at the University of Maryland studying <strong>Marketing</strong> and <strong>Information Systems</strong>.</p>
<!-- My education, activities, and course history -->
<h2>Education and Activities</h2>
<ul>
    <li>Dean's Student Advisory Council</li>
    <li>Club Softball</li>
    <li>UMD Athletics</li>
</ul>
<p>
    <a href="https://www.rhsmith.umd.edu/programs/undergraduate/community/deans-student-advisory-council">DSAC Website</a></p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267"
     height="72"
     alt="Smith Logo">
<h2>My Courses</h2>
<table>
   <tr>
        <th>Courses</th>
       <th>Semester</th>
   </tr>
    <tr>
        <td>BMGT302</td>
        <td>Spring 2024</td>
    </tr>
    <tr>
        <td>BMGT402</td>
        <td>Fall 2025</td>
    </tr>
    <tr>
        <td>BMGT403</td>
        <td>Spring 2026</td>
    </tr>
</table>
<!-- My future plans and career goals -->
<h2>Future Plans</h2>
<p>In the future, I hope to <em>graduate from the University of Maryland</em>, travel to new places, and begin a career that allows me to continue <em>learning and growing professionally</em>.</p>
<p><a href="https://www.linkedin.com/in/emily-davis05">My LinkedIn</a></p>
<ol>
    <li>Graduate from UMD</li>
    <li>Travel over summer</li>
    <li>Move to Flordia</li>
    <li>Start work</li>
</ol>
<p><a href="/hello">Visit my Hello page</a></p>
</body>
</html>